<main>
  <div class="container text-center">
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="col-12 titulo">
        <h1 class="font-effect-outline">Node Express Café</h1>
      </div>
      <div class="col-12 mensajes">
        <h4>
          Tu mesa ha sido cancelada correctamente.
        </h4>
      </div>
      <div class="col-12">
        <form method="get" action="/#calendario">
          <h4>Recuerda que puedes <button class="btn btn-secondary">reservar para otro día y hora</h4></button>
        </form>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center mensajes">
        <h4>Muchas gracias, el equipo de Node Express Café</h4>
      </div>
      <div class="col-12">
        <form method="get" action="/">
          <button class="btn btn-secondary">Volver a la home</button>
        </form>
      </div>
    </div>
  </div>
</main>